:root{
	--primairy-green:#6dc835;
	--secondary-green:#8dc449;
}

.bg-black{
	background-color: #000;
}

.bg-green{
	background-color: var(--primairy-green);
}

.bg-green-two{
	background-color: var(--secondary-green);
}

.text-green{
	color: var(--primairy-green);
	font-family: "Helvetica Neue", "Verdana", "Times New Roman" !important;
}

.text-green-two{
	color: var(--secondary-green);
}

.position-relative{
	position: relative;
}

.position-absolute{
	position: absolute;
}

.position-top-0{
	top:0;
}

.border-custom-1{
	border: 1px solid var(--secondary-green);
	position: absolute;
	bottom:0%;
	padding-top:48px !important;
}

.t-s-1{
	font-size: 0.5em;
}

.f-s-2{
	font-size: 1em;
}

.f-s-3{
	font-size: 1.5em;
}

.f-s-4{
	font-size: 2em;
}

.f-s-5{
	font-size: 2.5em;
}

.f-s-6{
	font-size: 3em;
}

.justify-self-start{
	justify-self:start;
}
.justify-self-end